<%= form_for(@training_event) do |f| %>
  <% if @training_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training_event.errors.count, "error") %> prohibited this training_event from being saved:</h2>

      <ul>
      <% @training_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div align="center">
      <div class="field">
        <%= f.label :training_date %><br />
        <%= f.date_select :training_date %>
      </div>
      <div class="field">
        <%= f.label :duration %><br />
        <%= f.number_field :duration %>
      </div>


      <div class="control-group">
        <%= f.label :training_location, class: 'control-label' %><br />
        <div class="controls">
           <%= f.select(:training_location, options_for_select(
                      [
                      ["Pitch 1","Pitch 1"],["Pitch 2","Pitch 2"],["Pitch 3","Pitch 3"],["Pitch 4","Pitch 4"],
                      ["Hurling Alley","Hurling Alley"], ["All-Weather-Pitch","All-Weather-Pitch"],["Hall","Hall"],["Gym","Gym"]
                      ]))
            %>
        </div>
      </div>

      <div class="control-group">
        <br/>
        <%= f.label :training_type, class: 'control-label' %><br />

        <div class="controls">

            <%= f.select(:training_type, options_for_select(
                     [
                      ["Fitness","Fitness"],
                      ["Strength & Conditioning","Strength & Conditioning"],
                      ["Technical Work","Technical Work"],
                      ["Challenge Match","Challenge Match"],
                      ["Fitness & Technical","Fitness & Technical"],
                      ["HIIT & Technical","HIIT & Technical"],
                      ]))
             %>
        </div>
      </div>


      <br/>
        <div class="actions">
        <%= f.submit %>
      </div>
  
    <% end %>
</div>