
<br>
<br><p id="notice"><%= notice %></p>

<p>
  <b>Player</b>
  <%= @attend.player.name %>
</p>

<p>
  <b>Training Date</b>
  <%= @attend.training_event.training_date %>
</p>

<p>
  <b>Attendance:</b>
  <%= @attend.attendance %>
</p>

<p>
  <b>Excuse:</b>
  <%= @attend.excuse %>
</p>


<%= link_to 'Edit', edit_attend_path(@attend) %> |
<%= link_to 'Back', attends_path %>
